<h2>
  <%= Spree.t('future_pay.payment.title') %>
</h2>

<div>
  <%= Spree.t('future_pay.payment.description') %>
</div>

<div style="height:50px;margin-right:20px;float:left;" class="align-left">
  <%= image_tag "spree/futurepay/nocc.png" %>
</div>
<div style="height:50px;">
  <%= Spree.t('future_pay.payment.nocc') %>
</div><br />

<div style="height:50px;margin-right:20px;float:left;" class="align-left">
  <%= image_tag "spree/futurepay/lock.png" %>
</div>
<div style="height:50px;">
  <%= Spree.t('future_pay.payment.lock') %>
</div><br />

<div style="height:50px;margin-right:20px;float:left;" class="align-left">
  <%= image_tag "spree/futurepay/nop.png" %>
</div>
<div style="height:50px;">
  <%= Spree.t('future_pay.payment.nop') %>
</div>
